.head{
    text-align: center;
    background-color: rgba(255, 68, 0, 0.774);
    font-size: 5vmin;
}

.article{
    border-style: solid;
    padding-bottom: 0px;
    width: fit-content;
    height: fit-content;
    

}

.img{
    width: 94vmin;
    padding-bottom: 0px;
    width: 100%;
    
}

body{
    background-color: plum;
}